@tailwind base;
@tailwind components;
@tailwind utilities;

/* 隐藏滚动条但保留滚动功能，让界面更像客户端 */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}